body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(120deg, #f6d365, #fda085);
    padding: 50px;
    text-align: center;
    transition: 0.4s ease;
}

h2 {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
}

input[type="color"] {
    width: 60px;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

button {
    padding: 10px 18px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background: #986558;
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #eb5e3f;
    transform: scale(1.05);
}